<form [formGroup]="expenseForm" (ngSubmit)="addExpense()">
    <div>
        <label for="amount">Montant:</label>
        <input class="rounded-input" type="number" id="amount" formControlName="amount" required min="0">
    </div>

    <div>
        <label for="credit">Crédit:</label>
        <input type="radio" id="credit" name="transactionNature" value="crédit" formControlName="transactionNature"
            required>

        <label for="debit">Débit:</label>
        <input type="radio" id="debit" name="transactionNature" value="débit" formControlName="transactionNature"
            required>
    </div>

    <div>
        <label for="transactionName">Nom de la transaction:</label>
        <input class="rounded-input" type="text" id="transactionName" formControlName="transactionName" required>
    </div>

    <div>
        <label for="description">Description:</label>
        <input class="rounded-input" type="text" id="description" formControlName="description" required>
    </div>

    <div>
        <label for="transactionDate">Date de la transaction:</label>
        <input class="rounded-input" type="date" id="transactionDate" formControlName="transactionDate" required>
    </div>

    <div>
        <label for="categoryId">Catégorie:</label>
        <select class="rounded-input" id="categoryId" formControlName="categoryId" required>
            <option selected></option>
            <option *ngFor="let category of categories" [value]="category.uid">{{ category.name }}</option>
        </select>
        <details>
            <summary>
                <div class="button"
      [class.dark-mode]="isDarkMode$ | async"
      >
                    <mat-icon class="add-category-icon" >add_circle</mat-icon>
                </div>
                <div class="details-modal-overlay"></div>
            </summary>
            <div class="details-modal">
                <div class="details-modal-close">
                    <mat-icon class="close-icon">close</mat-icon>
                </div>
                <div class="details-modal-title">
                    <h1>Add a new category</h1>
                </div>
                <div class="details-modal-content">
                    <p>
                    <app-add-category></app-add-category>
                    </p>
                </div>
            </div>
        </details>
    </div>

    <button type="submit" class="styled-button">Ajouter</button>
</form>