<form [formGroup]="expenseForm" (ngSubmit)="addExpense()">
    <div>
        <label for="amount">Montant:</label>
        <input class="rounded-input" type="number" id="amount" formControlName="amount" required>
    </div>

    <div>
        <label for="credit">Crédit:</label>
        <input type="radio" id="credit" name="transactionNature" value="crédit" formControlName="transactionNature"
            required>

        <label for="debit">Débit:</label>
        <input type="radio" id="debit" name="transactionNature" value="débit" formControlName="transactionNature"
            required>
    </div>

    <div>
        <label for="transactionName">Nom de la transaction:</label>
        <input class="rounded-input" type="text" id="transactionName" formControlName="transactionName" required>
    </div>

    <div>
        <label for="description">Description:</label>
        <input class="rounded-input" type="text" id="description" formControlName="description" required>
    </div>

    <div>
        <label for="transactionDate">Date de la transaction:</label>
        <input class="rounded-input" type="date" id="transactionDate" formControlName="transactionDate" required>
    </div>

    <div>
        <label for="categoryId">Catégorie:</label>
        <select class="rounded-input" id="categoryId" formControlName="categoryId" required>
            <option *ngFor="let category of categories" [value]="category.uid">{{ category.name }}</option>
        </select>
    </div>

    <button type="submit" class="styled-button">Ajouter</button>
</form>