:host {
    flex-grow: 1;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    button,
    mat-form-field {
        width: -webkit-fill-available;
    }

    mat-form-field {
        margin-bottom: 15px;
    }

    button {
        margin: 5px 0;

        &[mat-button] {
            width: auto;
        }
    }
}
.mat-mdc-raised-button[disabled], .mat-mdc-raised-button[disabled]{    
    color: #FFFFFF;
    background-color: #cf75cc
}
    