<form [formGroup]="frmSetNewPassword" (ngSubmit)="setPassword()">
    <h3 class="title is-5 has-text-black">
      Set a new password
    </h3>
    <h4 class="subtitle is-6 has-text-grey">Please enter and confirm your new password</h4>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input  [type]="hide ? 'password' : 'text'" matInput placeholder="Password" formControlName="newPassword">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="frmSetNewPassword.get('newPassword')!.hasError('required')">
            Password is required
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input  [type]="hide ? 'password' : 'text'" matInput placeholder="Password" formControlName="confirmPassword">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="frmSetNewPassword.get('confirmPassword')!.hasError('required')">
            Password is required
        </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!frmSetNewPassword.valid">Submit</button>
  </form>