<div class="profile-card">
  <div *ngIf="userInformation as user">
    <div class="profile-header">
      <div class="profile-picture">
        <!-- User's Picture -->
        <img src="{{(user.photoURL) ? user.photoURL : 'assets/dummy-user.jpg'}}" alt="{{user.displayName}}">
        <!-- Edit Picture Icon -->
        <div class="edit-icon">
          <mat-icon (click)="inputField.click()">edit</mat-icon>
        </div>
        <input #inputField hidden type="file" (change)="onFileSelected($event)" />
      </div>
      <div class="user-info">
        <!-- User's Name -->
        <h1>
          {{(user.displayName) ? user.displayName : 'Utilisateur'}}
        </h1>
      </div>
    </div>
    <div class="profile-actions">
        <form class="form-style" [formGroup]="frmPasswordReset" (submit)="sendPasswordResetRequest()">
          <h2>Réinitialiser le mot de passe</h2>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Ex: moi@example.com" formControlName="email">
            <mat-error *ngIf="frmPasswordReset.get('email')!.hasError('required')">
              Email est obligatoire
            </mat-error>
            <mat-error *ngIf="frmPasswordReset.get('email')!.hasError('email')">
              Email est invalid
            </mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" [disabled]="frmPasswordReset.invalid">
            Enregistrer
            <mat-icon>send</mat-icon>
          </button>
        </form>
        <form class="form-style name-form" [formGroup]="displayNameFormm" (ngSubmit)="upadateUserDisplayName(user.uid)">
          <h2>Modfier nom</h2>
          <mat-form-field class="name-field">
            <input type="text" matInput placeholder="Nom" formControlName="pseudo" />
          </mat-form-field>
          <button mat-raised-button color="primary" [disabled]="displayNameFormm.invalid">
            Enregistrer
            <mat-icon>send</mat-icon>
          </button>
        </form>
      </div>
      
</div>
