<div>
	<h2>Edit Expense</h2>
	<form [formGroup]="expenseForm" (ngSubmit)="updateExpense()">
		<div>
			<label for="description">Description:</label>
			<input class="rounded-input" type="text" id="description" formControlName="description">
		</div>

		<div>
			<label for="amount">Amount:</label>
			<input class="rounded-input" type="number" id="amount" formControlName="amount">
		</div>

		<div>
			<label for="transactionDate">Transaction Date:</label>
			<input class="rounded-input" type="date" id="transactionDate" formControlName="transactionDate">
		</div>

		<div>
			<label for="transactionNature">Transaction Nature:</label>
			<select class="rounded-input" id="transactionNature" formControlName="transactionNature">
				<option value="crédit">Crédit</option>
				<option value="débit">Débit</option>
			</select>
		</div>

		<div>
			<label for="transactionName">Transaction Name:</label>
			<input class="rounded-input" type="text" id="transactionName" formControlName="transactionName">
			<div>
				<label for="categoryId">Catégorie:</label>
				<select class="rounded-input" id="categoryId" formControlName="categoryId" required>
					<option *ngFor="let category of categories" [value]="category.uid">{{ category.name }}</option>
				</select>
			</div>
		</div>

		<button type="submit" class="styled-button"  [disabled]="!expenseForm.valid">Mettre à jour</button>
	</form>
</div>