.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #ffffffbb;
    border-radius: 25px;

    .title {
        text-align: center;
        font-size: 40px;
    }

}