<section>
  <div class="list-section-header">
    <h2>Liste des transactions</h2>
    <button class="button" (click)="toggleAddExpenseVisibility()" [class.dark-mode]="isDarkMode$ | async">
      <mat-icon
        class="icon-action"
        aria-hidden="false"
        aria-label="add icon"
        fontIcon="add"
      ></mat-icon>
      ajouter
    </button>
  </div>
  <app-add-expense *ngIf="isAddExpenseVisible"></app-add-expense>
  <app-table-expenses [expenses]="expenses"></app-table-expenses>

</section>
