:host {
  flex-grow: 1;
  padding: 15px;
}

.list-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mat-mdc-card-header {
  padding: 0px 16px;
}

.icon-action {
  margin-right: 15px;
  cursor: pointer;
}

.dark-mode {
  color: #fff !important;
}

.dark-mode-table{
  background-color: #2d2d2d;
}
