.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 28px;
}

.dark-mode-table {
    background-color: #2d2d2d;
}

.dark-mode {
    color: #fff !important;
}