<div class="profile-card">
    <div *ngIf="userInformation as user">
        <div class="profile-header">
            <div class="profile-picture">
              <!-- User's Picture -->
              <img src="{{(user.photoURL) ? user.photoURL : '../../../../assets/dummy-user.jpg'}}" alt="{{user.displayName}}">
              <!-- Edit Picture Icon -->
              <div class="edit-icon">
                <mat-icon (click)="inputField.click()">camera</mat-icon>
              </div>
              <input #inputField hidden type="file" (change)="onFileSelected($event)"/>
            </div>
            <div class="user-info">
              <!-- User's Name -->
                <h1>
                    {{(user.displayName) ? user.displayName : 'User'}}
                </h1>
            </div>
        </div>
        <div class="profile-actions">
            <!--  Email Button -->
            <div *ngIf="!user.emailVerified">
                <button mat-raised-button>
                    <mat-icon>warning</mat-icon>
                    <span class="icon-text">Verify your Email</span>
                    <mat-icon>email</mat-icon>
                </button>
            </div>
            <div *ngIf="user.emailVerified">
                <button mat-raised-button>
                    <span class="icon-text">Email Verified</span>
                    <mat-icon>email</mat-icon>
                </button>
            <!-- Edit Info Button -->
            <button mat-raised-button class="edit-button">
                Edit Info
                <mat-icon>edit</mat-icon>
            </button>
            <!-- Go to Another Page Button -->
            <button mat-raised-button class="go-to-page-button">Go to Another Page</button>
        </div>
        <form class="form-style" [formGroup]="displayNameFormm" (ngSubmit)="upadateUserDisplayName(user.uid)" >
            <input type="text" class="pseudo-input" placeholder="Entre pseudo" onkeypress="" formControlName="pseudo" />
            <button mat-icon-button class="text-color revert-btn"  aria-label="play btn" type="submit">
                <mat-icon class="icon-size">play_circle_filled</mat-icon>
            </button>
        </form>
    </div>
</div>
