<table class="table" [class.dark-mode-table]="isDarkMode$ | async">
    <thead>
      <tr>
        <th>Transaction</th>
        <th>Montant</th>
        <th>Date</th>
        <th>Description</th>
        <th>Catégories</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let expense of expenses">
        <td>{{ expense.transactionName }}</td>
        <td
          [class.depense]="expense.transactionNature === 'débit'"
          [class.credit]="expense.transactionNature === 'crédit'"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="visibility icon"
            [fontIcon]="
              expense.transactionNature === 'débit' ? 'remove' : 'add'
            "
          ></mat-icon>
          {{ expense.amount }} €
        </td>
        <td>{{ expense.transactionDate | frenchDate }}</td>
        <td>{{ expense.description }}</td>
        <td>
          {{ expense.categoryId | getCategoryName  | async}}
        </td>
        <td class="actions">
          <mat-icon
            class="icon-action"
            (click)="navigateToExpenseSingle(expense)"
            aria-hidden="false"
            aria-label="visibility icon"
            fontIcon="visibility"
          ></mat-icon>
          <mat-icon
            class="icon-action"
            (click)="navigateToEditExpense(expense)"
            aria-hidden="false"
            aria-label="visibility icon"
            fontIcon="edit"
          ></mat-icon>
          <mat-icon
            class="icon-action"
            (click)="deleteExpense(expense)"
            aria-hidden="false"
            aria-label="visibility icon"
            fontIcon="delete"
          ></mat-icon>
        </td>
      </tr>
    </tbody>
  </table>