<div class="expense-details" *ngIf="expense" >
  <div>
    <p class="amount">
      {{ expense.transactionNature === "débit" ? "+" : "-" }}
      {{ expense.amount }}€
    </p>
  </div>
  <div >
    <h2 class="name" [class.dark-mode]="isDarkMode$ | async">{{ expense.transactionName }}</h2>
    <h2 class="description" [class.dark-mode]="isDarkMode$ | async">{{ expense.description }}</h2>
    <p class="transaction-date"  [class.dark-mode]="isDarkMode$ | async">
      {{ expense.transactionDate | frenchDate }}
    </p>
    <div class="buttons-wrapper">
      <button class="button" (click)="navigateToEditExpense(expense)" [class.dark-mode]="isDarkMode$ | async">
        <mat-icon class="icon-action" aria-hidden="false" aria-label="edit icon" fontIcon="edit"></mat-icon>
        modifier
      </button>
      <button class="button" (click)="deleteExpense(expense)" [class.dark-mode]="isDarkMode$ | async">
        <mat-icon class="icon-action" aria-hidden="false" aria-label="delete icon" fontIcon="delete"></mat-icon>
        supprimer
      </button>
    </div>
  </div>
</div>