<header class="header" *ngIf="isAuthenticated">
  <ul>
    <button mat-button routerLink="/home" [class.dark-mode]="isDarkMode$ | async">Accueil</button>
  </ul>
<header class="header" *ngIf="isAuthenticated" >
  <button mat-button routerLink="/home">Home</button>

  <button mat-button [matMenuTriggerFor]="profileMenu"  [class.dark-mode]="isDarkMode$ | async">
    {{ fullName }}
    <mat-icon
      class="icon-action"
      aria-hidden="false"
      aria-label="person icon"
      fontIcon="person"
    ></mat-icon>
  </button>

  <mat-menu #profileMenu="matMenu" yPosition="below">
    <button mat-menu-item routerLink="/profile">Profil</button>
    <button mat-menu-item (click)="logout()">Déconnexion</button>
    <button mat-menu-item routerLink="/profile" >Profile</button>
    <button mat-menu-item (click)="logout()">Log Out</button>
  </mat-menu>
</header>