html {
    margin: 0;
    height: 100%;
    background: rgb(255, 216, 191);
    background: linear-gradient(90deg, rgba(255, 216, 191, 0.9836309523809523) 0%, rgba(255, 232, 236, 1) 50%, rgba(249, 217, 255, 1) 100%);
}

body{
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: calc(100% - 20px);
    padding: 10px;
}