:host {
  flex-grow: 1;
  padding: 15px;
}

.credit,
.depense {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: inherit;
  border-radius: 5px;
}

.credit {
  background-color: rgba(0, 128, 0, 0.3);
  color: green;
}

.depense {
  background-color: rgba(255, 0, 0, 0.3);
  color: red;
}

.mat-mdc-card-header {
  padding: 0px 16px;
}

.card-container {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-bottom: 60px;
  justify-content: space-evenly;
  .expense-card {
    width: 33%;
    color: #fff;

    .card-title {
      font-size: 18px;
      text-transform: capitalize;
      padding: 0 0px 16px;
      font-weight: 700;
    }

    .card-amount {
      font-size: 30px;
      font-weight: 900;
    }
  }
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-section-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.dark-mode-table{
  background-color: #2d2d2d;
}

.dark-mode {
  color: #fff!important;
}


@media screen and (max-width: 768px) {
  .expense-card {
    width: 100% !important;
  }

  .card-container {
    flex-direction: column;
  }
}
