<div class="col-md-9">
  <section>
    <div class="card-container">
      <app-total></app-total>
      <app-expense-graph></app-expense-graph>
    </div>

    <div class="header">
      <h2>Catégories</h2>
      <button class="button" (click)="navigateToExpenses()">
        voir plus
        <mat-icon
          class="icon-action"
          aria-hidden="false"
          aria-label="arrow_forward icon"
          fontIcon="arrow_forward"
        ></mat-icon>
      </button>
    </div>
    <div class="card-container">
      <mat-card
        *ngFor="let expense of firstThreeCategories; let i = index"
        class="expense-card"
        [style.background-color]="tabColor[i]"
        (click)="navigateToCategorySingle(expense.cat.uid)"
      >
        <mat-card-content class="card-amount">
          {{ expense.totalAmount }} €
        </mat-card-content>
        <mat-card-header>
          <mat-card-title class="card-title">{{
            expense.cat.name
          }}</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
    <app-last-expense></app-last-expense>
  </section>
</div>
